#darkModeToggle {
    background-color: darkslategray;
    color: plum;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

h1 {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: left;
    color: plum;
    font-size: 60px;
}

.back-button {
    background-color: darkslategray;
    color: plum;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

/* global level styling */

body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    background-color: aliceblue;
    color: darkslateblue;
    margin: 20px;
}

/* card styling */
.card {
    border-radius: 5px;
    box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.3);
    padding: 1rem;
}

.BlogContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

footer,
footer a {
    color: plum;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 80px;
    text-align: center;
    text-decoration: none;
}

footer a:hover {
    color: darkslategray;
    text-decoration: underline;
}