body {
    background-color: aliceblue;
    margin: 20px;
}

form {
    width: 300px;
    margin: 0 auto;
}

/*Styling h2 element*/
h2 {
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    color: plum;
    margin-bottom: 10px;
}

/*Label styling */
div label {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: darkslateblue;
}

/*Styling Input Fields*/
#username,
#title,
#content {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightseagreen;
    border-radius: 5px;
}

/*Styling of Submit button*/
button {
    width: 100%;
    padding: 10px;
    background-color: lightseagreen;
    color: darkslateblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Styling submit button hover */
button:hover {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: lightseagreen;
    background-color: darkslateblue;
}